body {
  overflow: hidden;
}
#editor {
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 17px;
  left: 0;
}
#statusBar {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 16px;
  background-color: rgb(39, 40, 34);
  color: gray;
  border-top: 1px solid #2F3129;
}
.ace_status-indicator {
  color: gray;
  position: absolute;
  right: 160px;
}
